$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

html {
 height: 100%;
}

body {
    height: 100%;
    margin:0;
    padding: 0;
    color: #999;
}

#map-canvas {
  height: 100%;

  img {
    max-width: none;
  }
}

#map-controls {
	position: absolute;
	top: 40px;
	right: 6px;
	z-index: 3;
	width: 200px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

ul#tag-list {
  padding-left: 10px;

  li {
    cursor: pointer;
    line-height: 1.6em;
    color: #0088cc;

    &:hover {
      text-decoration: underline;
      color: #000;
    }

  }
}

#new-tag-form {

  ul {
    width: 200px;
  }

  li {
    padding: 3px 10px;
    line-height: 35px;
  }

  label {
    width: 70px;
    display: inline-block;
  }

  input {
    float: right;
    width: 90px;
    display: inline-block;
  }

  textarea {
    width: 160px;
  }

  #new-tag-button {
    width: 174px;
  }
}

.tab-content {
  background: #fff
}

.nav-tabs > li > a {
  background: #eee
}