$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

html {
 height: 100%;
}

body {
    height: 100%;
    margin:0;
    padding: 0;
}

#map-canvas {
  height: 100%;

  img {
    max-width: none;
  }
}

#map-controls {
	position: absolute;
	top: 40px;
	right: 6px;
	z-index: 3;
	width: 200px;

  ul {
    margin: 0;
    padding: 0;
  }
}

.nav-tabs > li > a {
  background: #eee
}

.tab-content {
  background: #fff;
  border-radius: 0 5px 5px 5px;
  border-left: 1px solid #ddd;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  padding: 10px;
}

.tag-list {

}

ul#tag-list {

  .name {
    cursor: pointer;
    color: #0088cc;

    &:hover {
      text-decoration: underline;
    }

  }

  .country {
    color: #888;
    font-style: italic;
  }

  li {
    line-height: 1.6em;
  }
}

ul#new-tag-form {
  list-style: none;
  width: 180px;

  li {
    margin: 10px 0;
  }

  .input-prepend {
    margin-bottom: 0px;
  }

  .add-on {
    width: 35px;
  }

  input {
    float: right;
    width: 120px;
    display: inline-block;
  }

  textarea {
    width: 180px;
    box-sizing: border-box;
  }

}

#new-tag-button {
  width: 180px;
}
